/*** 3. SECTION ***/

/* Section (all styles)
      ============================= */

.section {
    padding: var(--section-padding);
}

.section-header {
    text-align: var(--section-header-align);
    padding: var(--section-header-padding);
}

.section-title {
    font-size: var(--section-title-font-size);
    font-weight: var(--section-title-font-weight);
    line-height: var(--section-title-line-height);
    margin: var(--section-title-margin);
    color: var(--section-title-color);
}

.section-tagline {
    color: var(--section-tagline-color);
    font-family: var(--section-tagline-font-family);
    text-transform: var(--section-tagline-transform);
    font-weight: var(--section-tagline-font-weight);
    margin: var(--section-tagline-margin);
}

.section-body {
    padding: var(--section-body-padding);
}

.section-footer {
    padding: var(--section-footer-padding);
    text-align: var(--section-footer-align);
}

/* Section theming
      ============================= */

[data-section-theme="dark"] {
    --button-color: var(--color-white);
    --text-color: var(--color-white);
    --section-title-color: var(--color-white);
    background: var(--color-black);
}

/* Section HERO
      ============================= */

.section-hero {
    position: relative;
    margin-top: -8.5rem;
}

.hero-homepage {
    background-image: url(images/banner-home.jpg);
    background-position: 75% 0;
    background-repeat: no-repeat;
    background-size: 90rem auto;
}

.section-hero .section-body {
    padding: 10rem 4rem;
}

.section-hero .section-category {
    color: var(--color-white);
    text-transform: uppercase;
}

.section-hero .section-title {
    margin-bottom: 5rem;
}

.section-hero .section-inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    min-height: 50vh;
}

/* Section Latest news
      ============================= */

.section-latest-news .row {
    flex-direction: row-reverse;
}

/* Section SERVICES
      ============================= */

.section-services .row {
    flex-wrap: wrap;
}

/* Section ABOUT US
      ============================= */

.section-about-us [class*='col-'] {
    align-self: center;
}



/*** ARTICLE PAGE ***/

/* Section HERO (article)
      ============================= */

.hero-article {
    background-size: 150rem 100rem;
    background-position: 50% 0;
}

.hero-article::before {
    content: '';
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 0;
}

.hero-article .section-inner {
    text-align: center;
    align-items: center;
    min-height: 40vh;
}

.hero-article .section-body {
    position: relative;
    padding: 7rem 0 0;
    z-index: 2;
}

.main-article {
    padding: 5rem 0;
}

/* Post
      ============================= */

.post {
    display: flex;
    align-items: baseline;
}

.post-content {
    width: 100%;
    padding-left: 7rem;
}

.post-aside {
    order: -1;
    min-width: 20%;
}

.post img {
    width: 100%;
    height: auto;
}

.post-content p:first-child {
    font-size: var(--font-size-x-large);
}

.post-content .img-caption {
    margin: 1rem 0;
    padding: 0 0.5rem;
    font-size: var(--font-size-small);
    color: var(--color-grey);
    text-align: center;
}

/* Post Meta
      ============================= */

.post-meta-list {
    flex-direction: column;
}

.post-meta-list strong {
    color: var(--color-primary);
    font-size: 1.3rem;
    font-weight: var(--font-weight-bold);
    text-transform: uppercase;
    letter-spacing: normal;
    display: block;
}

.post-meta-list [class*='post-meta'] {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 0.2rem solid var(--color-light-grey);
}

.post-meta-list [class*='post-meta']:last-child {
    border: none;
    margin-bottom: 3rem;
}

/* Tag list
      ============================= */

.tag-list {
    padding: 0;
    list-style: none;
}

.tag-list li {
    display: inline;
}

.tag-list li::after {
    content: ", ";
}

.tag-list li:last-child::after {
    content: "";
}